body{
    height: 1000px;
    width: 2000px;
}
.monstyle{
    border: 5px solid white;
    border-radius: 30px;
    height: 200px ;
    width: 280 px;
    background-color: rgb(76, 150, 215);
    color: white ;
    font-size: 100px;
    text-align:  center; 
    line-height: 200px;
}
img {
    display:flex;
    width : 250px;
    height : 250px;
    float: left;
    border-radius: 50% ;
    border: 5px solid white;
    position: absolute;
    top: 150%;
    left: 10%;
    transform: translate(-50%, -50%);
    }
div{
    height: 100px;
  position: relative;
}
.ligne_h{ 
    color: white ;
    font-size: 50px;
    text-decoration: underline;
    text-align:  left; 
    line-height: 350px;
    border: 5px solid white;    
    border-radius: 30px;
    height: 800px ;
    width: 350px;
    background-color: rgb(76, 150, 215);


}
